<a href="https://colab.research.google.com/github/eltonluiz12042012/ProjetosSenai/blob/ControleSS/Trocando_nome_index_e_criando_dataframe_qualitativas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Resumo da Atividade

##<font color=green>1 - Importando a biblioteca do Pandas</font>

In [2]:
import pandas as pd

##<font color=green>2 - Criando um DataFrame simples</font>

In [3]:
dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})

##<font color=green>3 - Visualizandos os Dados do DataFrame</font>

In [4]:
dados

    Profissão
0           1
1           2
2           3
3           1
4           2
5           2
6           2
7           3
8           3
9           2
10          1
11          3

##<font color=green>4 - Jogando em uma variável a quantidade de professões agrupadas</font>

In [12]:
frequencia = dados['Profissão'].value_counts()

##<font color=green>5 - Jogando em uma variável a quantidade de profissões em percentual</font>

In [13]:
percentual = round(dados['Profissão'].value_counts(normalize=True),2) * 100

In [14]:
frequencia

2    5
3    4
1    3
Name: Profissão, dtype: int64

In [15]:
percentual

2    42.0
3    33.0
1    25.0
Name: Profissão, dtype: float64

##<font color=green>6 - Criando um dataframe com a frequencia das profissões e seus percentuais</font>

In [16]:
dist_freq_qualitativas = pd.DataFrame({'Frequência':frequencia,'Percentual (%)':percentual})

In [17]:
dist_freq_qualitativas

   Frequência  Percentual (%)
2           5            42.0
3           4            33.0
1           3            25.0

In [19]:
dist_freq_qualitativas.rename(index={1:'Estatistico',2:'Cientista de Dados',3:'Programador Python'}, inplace=True)

##<font color=green>7 - Renomeando a coluna index do DataFrame correspondente a cada profissão</font>

In [20]:
dist_freq_qualitativas

                    Frequência  Percentual (%)
Cientista de Dados           5            42.0
Programador Python           4            33.0
Estatistico                  3            25.0

##<font color=green>8 - Renomeando o index do DataFrame</font>

In [23]:
dist_freq_qualitativas.rename_axis('Profissão',index='columns')

                    Frequência  Percentual (%)
Profissão
Cientista de Dados           5            42.0
Programador Python           4            33.0
Estatistico                  3            25.0